<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Reloj</title>
        <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  </head>
  <body>
    <h1>Reloj</h1>
    <h2>En este ejemplo se ve como actualiza React el DOM</h2>

    <!-- We will put our React component inside this div. -->
    <div id="reloj"></div>


    <!-- Load our React component. -->
    <script  src="../components/reloj.js"></script>
  </body>
</html>